@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_layoutCommon.cshtml";
}
<style>
    .course-item h5 {
        min-height: 48px; /* Chiều cao tối thiểu để đảm bảo đồng đều */
        line-height: 1.2; /* Điều chỉnh khoảng cách giữa các dòng */
        overflow: hidden; /* Ẩn chữ dư */
        display: -webkit-box; /* Hỗ trợ cắt dòng */
        -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
        -webkit-box-orient: vertical;
    }
</style>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Nhận chứng chỉ sau khóa học</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Cung cấp các khóa học bổ sung cho các chuyên ngành. Với các giảng viên danh tiếng, nền tảng chất lượng.</p>
                            <a href="@Url.Action("About","Home")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Về chúng tôi</a>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("LogInUser","Account")" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham gia ngay</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham gia ngay</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Nhận chứng chỉ sau khóa học</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Cung cấp các khóa học bổ sung cho các chuyên ngành. Với các giảng viên danh tiếng, nền tảng chất lượng.</p>
                            <a href="@Url.Action("About","Home")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Về chúng tôi</a>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("LogInUser","Account")" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham gia ngay</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham gia ngay</a>
                            }                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Chào mừng đến với eLEARNING</h1>
                <p class="mb-4">Nơi cung cấp đa dạng khóa học trực tuyến chất lượng cao. Tại đây, bạn có thể dễ dàng tiếp cận kiến thức từ nhiều lĩnh vực khác nhau, giúp nâng cao kỹ năng và phát triển bản thân.</p
                <p class="mb-4">Chúng tôi cam kết mang đến trải nghiệm học tập linh hoạt và hiệu quả, giúp bạn học mọi lúc, mọi nơi.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Giảng viên có kỹ năng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Chứng chỉ chất lượng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tiết kiệm thời gian</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Nội dung cô đọng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Môi trường năng động - sáng tạo</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Khoa</h6>
            <h1 class="mb-5">Các Khoa Trực Thuộc Tiêu Biểu</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/cat-1.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Kỹ Thuật Điện</h5>
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/cat-2.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Kinh Tế</h5>
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/cat-3.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">CNTT & TT</h5>
                                
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/cat-4.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                        <h5 class="m-0">Khoa Luật</h5>
                        
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Categories Start -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Khóa Học</h6>
            <h1 class="mb-5">Các Khóa Học Phổ Biến</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @await Component.InvokeAsync("Course")
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Giảng Viên</h6>
            <h1 class="mb-5">Các Giảng Viên Tiêu Biểu</h1>
        </div>
        <div class="row g-4">
                @*Lấy ngẫu nhiên 4 giảng viên để hiện ra view và có sử dụng ViewComponent nè*@
               @await Component.InvokeAsync("Teacher")
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->