@{
    var teacherImage = ViewBag.TeacherImage;
}
<img class="rounded-circle me-lg-2" src="@Url.Content(ViewBag.TeacherImage)" alt="Ảnh lỗi" style="width: 40px; height: 40px;">
<p style="color: red; font:16px;">@ViewBag.TeacherImage</p>