@model NLCS.ViewModels.StudentVM

@{
    ViewData["Title"] = "Detail Student";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<style>
    body {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }

    .profile-img {
        text-align: center;
    }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

            .profile-img .file input {
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
            }

    .profile-head h5 {
        color: #333;
    }

    .profile-head h6 {
        color: #0062cc;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }

    .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

            .profile-head .nav-tabs .nav-link.active {
                border: none;
                border-bottom: 2px solid #0062cc;
            }

    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }

    a:hover {
        padding: 5px;
        transition: 0.3s;
        text-decoration: none;
    }
</style>
<div class="container emp-profile">
    <form method="post" asp-action="EditUser" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@Url.Content(Model.Url_Image)" alt="Student Image" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.Student_Name
                    </h5>
                    <h6>
                        @Model.Student_Email
                    </h6>
                    <p class="proile-rating">Số điện thoại: <span>@Model.Student_PhoneNumber</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <input type="file" asp-for="Student_Image" value="" class="nav-link" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="profile-edit-btn">Save</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active justify-content-center" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row justify-content-center" style=" margin-bottom: 1%;">
                            <div class="col-md-8 margin-top form-group d-flex align-items-center">
                                <label asp-for="Student_Name" class="col-form-label mb-0 me-2" style="width: 150px;">Họ tên</label>
                                <input asp-for="Student_Name" class="form-control" />
                                <span asp-validation-for="Student_Name"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center" style=" margin-bottom: 1%;">
                            <div class="col-md-8 margin-top form-group d-flex align-items-center">
                                <label asp-for="Student_DoB" class="col-form-label mb-0 me-2" style="width: 150px;">Ngày sinh</label>
                                <input asp-for="Student_DoB" class="form-control" type="date" />
                                <span asp-validation-for="Student_DoB"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom: 1%;">
                            <div class="col-md-8 margin-top form-group d-flex align-items-center">
                                <label class="col-form-label mb-0 me-2" style="width: 150px;">Giới tính</label>
                                <div class="form-check me-3">
                                    <input asp-for="Gender" class="form-check-input" type="radio" value="true" id="male" />
                                    <label class="form-check-label" for="male">Nam</label>
                                </div>
                                <div class="form-check me-3">
                                    <input asp-for="Gender" class="form-check-input" type="radio" value="false" id="female" />
                                    <label class="form-check-label" for="female">Nữ</label>
                                </div>
                                <span asp-validation-for="Gender"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center" style=" margin-bottom: 1%;">
                            <div class="col-md-8 margin-top form-group d-flex align-items-center">
                                <label asp-for="Student_PhoneNumber" class="col-form-label mb-0 me-2" style="width: 150px;">Số điện thoại</label>
                                <input asp-for="Student_PhoneNumber" class="form-control" />
                                <span asp-validation-for="Student_PhoneNumber"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center" style=" margin-bottom: 1%;">
                            <div class="col-md-8 margin-top form-group d-flex align-items-center">
                                <label asp-for="Student_Address" class="col-form-label mb-0 me-2" style="width: 150px;">Địa chỉ</label>
                                <input asp-for="Student_Address" class="form-control" />
                                <span asp-validation-for="Student_Address"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
